<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue基础知识</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css">
	<link rel="stylesheet" href="../webs/css/comment.css">
	<script src="https://cdn.bootcss.com/highlight.js/8.4/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<style>
		body{font-family: "微软雅黑";}
	</style>
</head>
<body>
<div class="main_inner">
	<h3>1_1_2 Vue.js有什么不同</h3>
	<div id="app1_1_2"><button v-if="showBtn" v-on:click="handleClick">点我</button></div>
	<pre><code class="language-html hljs">
		&lt;div id="app"&gt;
			&lt;button v-if="showBtn" v-on:click="handleClick"&gt;点我&lt;/button&gt;
		&lt;/div&gt;
	</code></pre>
	<script>
		new Vue({
			el: "#app1_1_2",
			data:{
				showBtn: true
			},
			methods:{
				handleClick: function(){
					alert("点击成功");
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		new Vue({
			el: "#app",
			data:{
				showBtn: true
			},
			methods:{
				handleClick: function(){
					console.log("点击成功");
				}
			}
		})
	</code></pre><br>

	<h3>1_2_2 Vue.js如何使用</h3>
	<span class="sTitle">(1) v-for</span>
	<div id="app1_2_2"><ul><li v-for="book in books">{{ book.name }}</li></ul></div>
	<pre><code class="language-html hljs">
		&lt;li v-for="book in books"&gt; {{ book.name }}&lt;/li&gt;
	</code></pre>
	<script>
		new Vue({
			el: "#app1_2_2",
			data:{
				books: [
					{ name: '《Vue.js 实战》' },
					{ name: '《JavaScript 语言精粹》' },
					{ name: '《JavaScript 高级程序设计》' },
				]
			}
		})
	</script>
	<pre><code class="language-js hljs">
		data:{
			books: [
				{ name: '《Vue.js 实战》' },
				{ name: '《JavaScript 语言精粹》' },
				{ name: '《JavaScript 高级程序设计》' },
			]
		}	
	</code></pre><br>
	
	<span class="shuoming">vue单文件的形式配合webpack使用，必要时还会用到vuex来管理状态，vue-router来管理路由。</span><br>

	<h3>2数据绑定</h3>
	<span class="sTitle">(1) v-model</span>
	<div id="app2_0">
		<input type="text" v-model="info" placeholder="请输入"><br>
		<span>输入内容为：{{ info }}</span>
	</div>
	<pre><code class="language-html hljs">
		&lt;input type="text" v-model="info" placeholder="请输入"&gt;<br>
		&lt;span&gt;输入内容为：{{ info }}&lt;/span&gt;
	</code></pre>
	<script>
		new Vue({
			el: "#app2_0",
			data: {
				info: ""
			}
		})
	</script>	
	<pre><code class="language-js hljs">
		new Vue({
			el: "#app2_0",
			data: {
				info: ""
			}
		})
	</code></pre><br>

	<h3>2_1 Vue实例与数据</h3>
	<span class="sTitle">(1) 创建Vue</span>
	<span class="shuoming">通过构造函数Vue创建一个Vue的根实例，并启动Vue的应用</span>
	<pre><code class="language-js hljs">
		var app = new Vue({
			//选项
		})
	</code></pre>
	<span class="sTitle">(2) el</span>
	<span class="shuoming">必不可少的一个选项el。指定一个页面中也存在的DOM元素来挂在Vue实例。</span>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: document.getElementById('app')  或者  "#app"
		})
	</code></pre>
	<span class="shuoming">挂载成功后，可以通过app.$el来访问该元素。</span><br>

	<span class="sTitle">(3) data</span>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app",
			data: {
				a: 2
			}
		})
		console.log(app.a)    // 2
	</code></pre>
	<pre><code class="language-js hljs">
		var myData = {
			a: 1
		}
		var app = new Vue({
			el: "#app",
			data: myData
		})
		console.log(app.a);    // 1
	</code></pre>

	<h3>2_1_2 生命周期</h3>
	<span class="shuoming">每个Vue实例创建时，都会经历一系列的初始化过程，同事也会调用相应的生命周期钩子</span>
	<span class="sTitle">(1) created</span>
	<span class="shuoming">实例创建完成，初始化处理数据用，尚未挂载，$el还不可用。类ready()方法.</span>
	<span class="sTitle">(2) mounted</span>
	<span class="shuoming">el已挂载到实例上</span>
	<span class="sTitle">(3) beforeDestroy</span>
	<span class="shuoming">实例销毁之前，主要用于解绑addEventListener等</span>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app",
			data: {
				a: 2
			},
			created: function(){
				console.log(this.a);    //2
			},
			mounted: function(){
				console.log(this.$el);	//&lt;div id="app"&gt;&lt;/div&gt;
			}
		})
	</code></pre>

	<h3>2_1_3 插值与表达式</h3>
	<span class="sTitle">(1) {{ }} 插值</span>
	<div id="app2_1_3">传入内容：{{ book }}</div>
	<pre><code class="language-html hljs">
		&lt;div id="app2_1_3"&gt;{{ book }}&lt;/div&gt;		
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_1_3",
			data: {
				book: "《Vue.js 实战》"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_1_3",
			data: {
				book: "《Vue.js 实战》"
			}
		})
	</code></pre>
	<span class="sTitle">(2) 实时显示当前的时间</span>
	<div id="app2_1_3-2">{{ date }}</div>
	<pre><code class="language-html hljs">
		&lt;div id="app2_1_3-2"&gt;{{ date }}&lt;/div&gt;		
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_1_3-2",
			data: {
				date: new Date()
			},
			mounted: function(){
				var _this = this;
				this.timer = setInterval(function(){
					_this.date = new Date(); 	// 修改数据date
				},1000);
			},
			beforeDestroy: function(){
				if(this.timer){
					clearInterval(this.timer);	//在Vue实例销毁前，清除定时器。
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_1_3-2",
			data: {
				date: new Date()
			},
			mounted: function(){
				var _this = this;
				this.timer = setInterval(function(){
					_this.date = new Date(); 	// 修改数据date
				},1000);
			},
			beforeDestroy: function(){
				if(this.timer){
					clearInterval(this.timer);	//在Vue实例销毁前，清除定时器。
				}
			}
		})		
	</code></pre>

	<span class="sTitle" id="con1">(3) v-html 就是想输出个文本的时候（容易遭到XSS攻击，少用）</span>
	<div id="app2_1_3-3"><span v-html="link"></span></div>
	<pre><code class="language-html hljs">
		&lt;div id="app2_1_3-3"&gt;&lt;span v-html="link"&gt;&lt;/span&gt;&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_1_3-3",
			data: {
				link: "<a href='#con1'>这是一个链接</a>"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_1_3-3",
			data: {
				link: "&lt;a href='#con1'&gt;这是一个链接&lt;/a&gt;"
			}
		})		
	</code></pre>

	<span class="sTitle">(4) v-pre</span>
	<div id="app2_1_3-4"><span v-pre>{{ 这里的内容不会被编译 }}</span></div>
	<pre><code class="language-html hljs">
		&lt;span v-pre&gt;{{ 这里的内容不会被编译 }}&lt;/span&gt;
	</code></pre>

	<span class="sTitle">(5) {{ }} 中的运算</span>
	<div id="app2_1_3-5">
		运算结果：
		{{ number / 10 }} - 
		{{ isOK ? "确定" : "取消" }} - 
		{{ text.split(',').reverse().join(',') }}
	</div>
	<pre><code class="language-html hljs">
		&lt;div id="app2_1_3-5"&gt;
			{{ number / 10 }}
			{{ isOK ? "确定" : "取消" }}
			{{ text.split(',').reverse().join(',') }}
		&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_1_3-5",
			data: {
				number: 100,
				isOK: false,
				text: "123,456"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_1_3-5",
			data: {
				number: 100,
				isOK: false,
				text: "123,456"
			}
		})
	</code></pre>

	<span class="shuoming">vue.js只支持单个表达式，不支持语句和流控制。另外，在表达式中，不能使用用户自定义的全局变量，只能使用Vue白名单内的全局变量。</span>

	<h3>2_1_4 过滤器</h3>
	<span class="shuoming">Vue.js支持在{{ }}插值的尾部添加一个管道符(|)对数据进行过滤。</span>
	<span class="sTitle">(1) 用(|)在月份、日期、小时等小于10时前面补 0</span>
	<div id="app2_1_5">显示结果为： {{ date | formatDate }}</div>	
	<pre><code class="language-html hljs">
		{{ date | formatDate }}
	</code></pre>
	<script>
		var padDate = function(value){
			return value < 10 ? "0" + value : value;
		};
		var app = new Vue({
			el: "#app2_1_5",
			data: {
				date: new Date()
			},
			filters: {
				formatDate: function (value){
					var date = new Date(value);
					var year = date.getFullYear();
					var month = padDate(date.getMonth() + 1);
					var day = padDate(date.getDate());
					var hours = padDate(date.getHours());
					var minutes = padDate(date.getMinutes());
					var seconds = padDate(date.getSeconds());
					return year + "-" + month + "-" + day + "" + hours + ":" + minutes + ":" + seconds;
				}
			},
			mounted: function(){
				var _this = this;
				this.timer = setInterval(function(){
					_this.date = new Date();
				},1000);
			},
			beforeDestroy: function(){
				if(this.timer){
					clearInterval(this.timer);
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var padDate = function(value){
			return value < 10 ? "0" + value : value;
		};
		var app = new Vue({
			el: "#app2_1_5",
			data: {
				date: new Date()
			},
			filters: {
				formatDate: function (value){
					var date = new Date(value);
					var year = date.getFullYear();
					var month = padDate(date.getMonth() + 1);
					var day = padDate(date.getDate());
					var hours = padDate(date.getHours());
					var minutes = padDate(date.getMinutes());
					var seconds = padDate(date.getSeconds());
					return year + "-" + month + "-" + day + "" + hours + ":" + minutes + ":" + seconds;
				}
			},
			mounted: function(){
				var _this = this;
				this.timer = setInterval(function(){
					_this.date = new Date();
				},1000);
			},
			beforeDestroy: function(){
				if(this.timer){
					clearInterval(this.timer);
				}
			}
		})
	</code></pre>
	<span class="shuoming">串联：{{ message | filterA | filterB }}</span>
	<span class="shuoming">并联：{{ message | filterA('arg1','arg2') }} arg1和arg2会分别传给第二和第三个参数</span>

	<h3>2_2 指令与事件</h3>
	<span class="sTitle">(1) v-if</span>
	<div id="app2_2_0-1"><p v-if="show">显示这段文字</p></div>
	<pre><code class="language-html hljs">
		&lt;p v-if="show"&gt;显示这段文字&lt;/p&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_2_0-1",
			data: {
				show: true
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_2",
			data: {
				show: true
			}
		})
	</code></pre>

	<span class="sTitle">(2) v-bind</span>
	<div id="app2_2_0-2">
		<a v-bind:href="url">百度</a><br>
		<img v-bind:src="img">
	</div>
	<pre><code class="language-html hljs">
		&lt;a v-bind:href="url"&gt;百度&lt;/a&gt;
		&lt;img v-bind:src="img"&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_2_0-2",
			data:{
				url: "https://www.baidu.com/",
				img: "https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		el: "#app",
		data:{
			url: "https://www.baidu.com/",
			img: "https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png"
		}
	</code></pre>

	<span class="sTitle">(3) v-on</span>
	<div id="app2_2_0-3">
		<p v-if="show">这是一段文字</p>
		<button v-on:click="handleClose">点击隐藏</button>
	</div>
	<pre><code class="language-html hljs">
		&lt;p v-if="show"&gt;这是一段文字&lt;/p&gt;
		&lt;button v-on:click="handleClose"&gt;点击隐藏&lt;/button>&gt;	
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app2_2_0-3",
			data:{
				show: true
			},
			methods:{
				handleClose: function(){
					this.show = false;
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_2_0-3",
			data:{
				show: true
			},
			methods:{
				handleClose: function(){
					this.show = false;
				}
			}
		})
	</code></pre>
	<span class="sTitle">内联写法</span>
	<pre><code class="language-html hljs">
		&lt;p v-if="show"&gt;这是一段文字&lt;/p&gt;
		&lt;button v-on:click="show = false"&gt;点击隐藏&lt;/button&gt;	
	</code></pre>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app2_2_0-3",
			data:{
				show: true
			}
		})
	</code></pre>

	<span class="sTitle">较复杂</span>
	<pre><code class="language-html hljs">
		&lt;p v-if="show"&gt;这是一段文字&lt;/p&gt;
		&lt;button v-on:click="handleClose"&gt;点击隐藏&lt;/button&gt;
	</code></pre>
	<pre><code class="language-js hljs">
		data: {
			show: true
		},
		methods: {
			handleClose: function(){
				this.close();
			},
			close: function(){
				this.show = false;
			}
		}
	</code></pre>

	<h3>2_3 语法糖</h3>
	<span class="shuoming">
		v-bind 可直接写为 :
	</span>
	<span class="shuoming">
		v-on   可直接写为 @
	</span>

	<h3>3 计算属性</h3>
	<span class="shuoming">用于计算较长或逻辑较复杂的表达式。</span>
	<span class="sTitle">3_1 什么是计算属性（计算复杂时用返回值）</span>
	<div id="app3_1">{{ reversedText }}</div>
	<pre><code class="language-html hljs">
		&lt;div id="app3_1"&gt;
			{{ text.split(',').reverse().join(',') }}
		&lt;/div&gt;
		有3个操作，更清晰的写法
		&lt;div id="app3_1"&gt;
			{{ reversedText }}
		&lt;/div&gt;
	</code></pre>
	<span class="shuoming">reversdeText 为 计算属性，computed 中的方法名，该方法返回最终结果</span>
	<script>
		var app = new Vue({
			el: "#app3_1",
			data:{
				text: '123,456'
			},
			computed: {
				reversedText: function(){
					//这里的this指向当前的Vue实例
					return this.text.split(',').reverse().join(',');
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app3_1",
			data:{
				text: '123,456'
			},
			computed: {
				reversedText: function(){
					//这里的this指向当前的Vue实例
					return this.text.split(',').reverse().join(',');
				}
			}
		})		
	</code></pre>

	<span class="sTitle">3_2 计算属性用法</span>
		<div id="app3_2_1">
			总价： {{ prices }}
		</div>
	<pre><code class="language-html hljs">
		&lt;div id="app3_2_1"&gt;
			总价： {{ prices }}
		&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app3_2_1",
			data:{
				package1: [
					{
						name: 'iPhone 7',
						price: 7199,
						count: 2
					},
					{
						name: 'iPhone',
						price: 2888,
						count: 1
					}
				],
				package2: [
					{
						name: 'apple',
						price: 3,
						count: 5
					},
					{
						name: 'banana',
						price: 2,
						count: 10
					}
				]
			},
			computed: {
				prices: function(){
					var prices = 0;
					for(var i = 0;i < this.package1.length;i++){
						prices += this.package1[i].price * this.package1[i].count;
					}
					for(var i = 0;i < this.package2.length;i++){
						prices += this.package2[i].price * this.package2[i].count;
					}
					return prices;
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app3_2_1",
			data:{
				package1: [
					{
						name: 'iPhone 7',
						price: 7199,
						count: 2
					},
					{
						name: 'iPhone',
						price: 2888,
						count: 1
					}
				],
				package2: [
					{
						name: 'apple',
						price: 3,
						count: 5
					},
					{
						name: 'banana',
						price: 2,
						count: 10
					}
				]
			},
			computed: {
				prices: function(){
					var prices = 0;
					for(var i = 0;i < this.package1.length;i++){
						prices += this.package1[i].price * this.package1[i].count;
					}
					for(var i = 0;i < this.package2.length;i++){
						prices += this.package2[i].price * this.package2[i].count;
					}
					return prices;
				}
			}
		})
	</code></pre>

	<span class="sTitle">3_2_2 getter和setter用法</span>
	<div id="app3_2_2">
		姓名： {{ fullName }}
	</div>
	<pre><code class="language-html hljs">
	&lt;div id="app3_2_2"&gt;
		姓名： {{ fullName }}
	&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app3_2_2",
			data:{
				firstName: "Jake",
				lastName: "Green"
			},
			computed: {
				fullName: {
					//getter,用于读取
					get: function(){
						return this.firstName + ' ' + this.lastName;
					},
					//setter,写入时触发
					set: function(newValue){
						var names = newValue.split(' ');
						this.firstName = names[0];
						this.lastName = names[names.length - 1];
					}
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app3_2_2",
			data:{
				firstName: "Jake",
				lastName: "Green"
			},
			computed: {
				fullName: {
					//getter,用于读取
					get: function(){
						return this.firstName + ' ' + this.lastName;
					},
					//setter,写入时触发
					set: function(newValue){
						var names = newValue.split(' ');
						this.firstName = names[0];
						this.lastName = names[names.length - 1];
					}
				}
			}
		})
	</code></pre>

	<span class="sTitle">3_2_3 getter和setter依赖其它实例的数据</span>
	<div id="app3_2_3a"></div>
	<div id="app3_2_3b">
		{{ reversedText }}
	</div>
	<pre><code class="language-html hljs">
		&lt;div id="app3_2_3a"&gt;&lt;/div&gt;
		&lt;div id="app3_2_3b"&gt;
			{{ reversedText }}
		&lt;/div&gt;
	</code></pre>
	<script>
		var app1 = new Vue({
			el: "#app3_2_3a",
			data: {
				text: "123,456"
			}
		});
		var app2 = new Vue({
			el: "#app3_2_3b",
			computed: {
				reversedText: function(){
					// 这里依赖的是实例 app1 的数据 text
					return app1.text.split(',').reverse().join(',');
				}
			}
		});
	</script>
	<pre><code class="language-js hljs">
		var app1 = new Vue({
			el: "#app3_2_3a",
			data: {
				text: "123,456"
			}
		});
		var app2 = new Vue({
			el: "#app3_2_3b",
			computed: {
				reversedText: function(){
					// 这里依赖的是实例 app1 的数据 text
					return app1.text.split(',').reverse().join(',');
				}
			}
		});
	</code></pre>

	<span class="sTitle">3_3 计算属性缓存</span>
	<div id="app3_3">
		{{ reversedText() }}
	</div>
	<pre><code class="language-html hljs">
		{{ reversedText() }}		
	</code></pre>
	<span class="shuoming">reversedText 是方法，所以带()</span>
	<script>
		var app = new Vue({
			el: "#app3_3",
			data: {
				text: "123,456"
			},
			methods: {
				reversedText: function(){
					// 这里的this指向的是当前Vue实例
					return this.text.split(',').reverse().join(',');
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app3_3",
			data: {
				text: "123,456"
			},
			methods: {
				reversedText: function(){
					// 这里的this指向的是当前Vue实例
					return this.text.split(',').reverse().join(',');
				}
			}
		})
	</code></pre>

	<h3>v-bind及class与style绑定</h3>
	<span class="sTitle">4_1 了解v-bind指令</span>
	<span class="sTitle">4_2 绑定class的几种方法</span>
	<span class="sTitle">4_2_1 属性动态切换class（对象语法）</span>
	<div id="app4_2_1-1">
		<div :class="{ 'active': isActive }">一个class</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="{ 'active': isActive }"&gt; 一个class &lt;/div&gt;
	</code></pre>
	<style>.active{ color: red; }</style>
	<pre><code class="language-style hljs">
		.active{ color: #f00; }
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_1-1",
			data: {
				isActive: 1
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_1-1",
			data: {
				isActive: true
			}
		})		
	</code></pre>
	<span class="shuoming">isActive为true 或 1，class就是active，否则为空</span>
	<span class="sTitle">(2) 多个属性</span>
	<div id="app4_2_1-2">
		<div :class="{ 'active': isActive , 'error': isError }">两个class</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="{ 'active': isActive , 'error': isError }"&gt; 两个class &lt;/div&gt;
	</code></pre>
	<style>.active{ color: red; }.error{ margin-left: 10px; }</style>
	<pre><code class="language-style hljs">
		.active{ color: #f00; }
		.error{ margin-left: 10px; }
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_1-2",
			data: {
				isActive: true,
				isError: true
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_1-2",
			data: {
				isActive: true,
				isError: false
			}
		})
	</code></pre>

	<span class="sTitle">(3) class名可以是变量</span>
	<div id="app4_2_1-3">
		<div :class="classes">class是个多条件计算结果</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="classes"&gt; class是个多条件计算结果 &lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_1-3",
			data: {
				isActive: true,
				error: null
			},
			computed: {
				classes: function(){
					return{
						active: this.isActive && !this.error,
						'text-fail': this.error && this.error.type === "fail"
					}
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_1-3",
			data: {
				isActive: true,
				error: null
			},
			computed: {
				classes: function(){
					return{
						active: this.isActive && !this.error,
						'text-fail': this.error && this.error.type === "fail"
					}
				}
			}
		})
	</code></pre>

	<span class="sTitle">4_2_2 数组语法</span>
	<div id="app4_2_2-1">
		<div :class="[ activeCls,errorCls ]"> 数组方法写class </div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="[ activeCls,errorCls ]"&gt; 数组方法写class &lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_2-1",
			data: {
				activeCls: "active",
				errorCls: "error"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_2-1",
			data: {
				activeCls: "active",
				errorCls: "error"
			}
		})
	</code></pre>

	<div id="app4_2_2-2">
		<div :class="[ isActive ? activeCls : '', errorCls ]"> 三目方法写class </div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="[ isActive ? activeCls : '', errorCls ]"&gt; 三目方法写class &lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_2-2",
			data: {
				isActive: true,
				activeCls: "active",
				errorCls: "error"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_2-2",
			data: {
				isActive: true,
				activeCls: "active",
				errorCls: "error"
			}
		})
	</code></pre>

	<div id="app4_2_2-3">
		<div :class="[ {'active' : isActive }, errorCls]"> 数组语法写class </div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :class="[ {'active' : isActive }, errorCls]"&gt; 数组语法写class &lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_2-3",
			data: {
				isActive: true,
				errorCls: "error"
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_2-3",
			data: {
				isActive: true,
				errorCls: "error"
			}
		})
	</code></pre>

	<div id="app4_2_2-4">
		<button :class="classes">按钮</button>
	</div>
	<pre><code class="language-html hljs">
	&lt;button :class="classes"&gt;按钮&lt;/button&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: "#app4_2_2-4",
			data: {
				size: 'large',
				disabled: true
			},
			computed: {
				classes: function(){
					return [
						'btn',
						{
							['btn-' + this.size] : this.size !== '',
							['btn-disabled'] : this.disabled
						}
					];
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: "#app4_2_2-4",
			data: {
				size: 'large',
				disabled: true
			},
			computed: {
				classes: function(){
					return [
						'btn',
						{
							['btn-' + this.size] : this.size !== '',
							['btn-disabled'] : this.disabled
						}
					];
				}
			}
		})
	</code></pre>

	<span class="sTitle">4_2_3 在组件上使用</span>
	<div id="app4_2_3">
		<my-component :class="{active:isActive}"></my-component>
	</div>
	<pre><code class="language-html hljs">
		&lt;my-component :class="{active:isActive}"&gt;&lt;/my-component&gt;
	</code></pre>
	<script>
		Vue.component('my-component',{
			template: '<p class="article">一些文本</p>'
		});
		var app = new Vue({
			el: '#app4_2_3',
			data: {
				isActive: true
			}
		})
	</script>
	<pre><code class="language-js hljs">
		Vue.component('my-component',{
			template: '&lt;p class="article"&gt;一些文本&lt;/p&gt;'
		});
		var app = new Vue({
			el: '#app4_2_3',
			data: {
				isActive: true
			}
		})
	</code></pre>
	<span class="shuoming">会有两个 class: article 和 active</span>

	<span class="sTitle">4_3 绑定内联样式</span>
	<div id="app4_3">
		<div :style=" {'color': color,'fontSize': fontSize + 'px' } ">文本</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :style=" {'color': color,'fontSize': fontSize + 'px' } "&gt;文本&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: '#app4_3',
			data: {
				color: 'red',
				fontSize: 14
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: '#app4_3',
			data: {
				color: 'red',
				fontSize: 14
			}
		})
	</code></pre>

	<span class="sTitle">简写(对象语法)</span>
	<div id="app4_3-2">
		<div :style=" styles ">文本</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :style=" styles "&gt;文本&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: '#app4_3-2',
			data: {
					styles:{
					color: 'red',
					fontSize: 14
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: '#app4_3-2',
			data: {
				styles:{
					color: 'red',
					fontSize: 14
				}
			}
		})
	</code></pre>

	<span class="sTitle">简写(数组语法)</span>
	<div id="app4_3-3">
		<div :style=" styles ">文本</div>
	</div>
	<pre><code class="language-html hljs">
		&lt;div :style=" [ color,fontSize ] "&gt;文本&lt;/div&gt;
	</code></pre>
	<script>
		var app = new Vue({
			el: '#app4_3-3',
			data: {
					styles:{
					color: 'red',
					fontSize: 14
				}
			}
		})
	</script>
	<pre><code class="language-js hljs">
		var app = new Vue({
			el: '#app4_3-3',
			data: {
				color: 'red',
				fontSize: 14
			}
		})
	</code></pre>

	<script>
		hljs.initHighlightingOnLoad();
	</script>
</div>
</body>
</html>